*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* utility components */
:root{
    font-size: 62.5%;
    /* colors */
    --clr-neutral-100:#36454f;
    --clr-neutral-200:#282C35;
    --clr-light:#ffff;
    --clr-primary:#Fae000 ;
    --ff-primary: 'Baloo Tamma 2', cursive;
;

}
body{
    font-family: var(--ff-primary);
    line-height: 1.8;
    display: flex;
}
/* ----Main Styling---- */
       /* ---side nav-- */