*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* utility components */
:root {
  font-size: 62.5%;
  /* colors */
  --clr-neutral-100: #36454f;
  --clr-neutral-200: #282c35;
  --clr-light: #ffff;
  --clr-primary: #fae000;
  --ff-primary: "Baloo Tamma 2", cursive;
}
body {
  font-family: var(--ff-primary);
  line-height: 1.8;
  display: flex;
}
/* -------------------Main Styling-------*/

/* ---side nav-- */
aside#aside-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.aside--nav__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-neutral-200);
  align-items: center;
}
.aside--nav__content__logo {
  width: calc(3vw + 3vh);
  object-fit: cover;
}
.aside-nav__content__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(1rem + 0.666vw + 1px);
  justify-content: flex-end;
}
.aside--nav__content__nav--social {
  list-style: none;
}

.aside--nav__content__nav--social a i {
  font-size: calc(1rem + 0.666vw);
  color: var(--clr-light);
  padding: calc(2rem + 0.666vw + 1px)  calc(1rem + 0.666vw + 1px);
}
.aside--nav__content__nav--social a i:hover .aside--nav__content{
    padding: calc(1rem + 0.666vw - 1px);

}

.aside--nav__content__nav--social a i:hover,
.aside--nav__content__nav--social a i:focus-within 
{
  color: var(--clr-primary);
      padding: calc(2rem + 0.666vw -1px)  calc(1rem + 0.666vw -1px);

  border: 1px solid var(--clr-neutral-100);

  border-radius: 1px;
}
