*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* utility components */
:root {
  font-size: 62.5%;
  /* colors */
  --clr-neutral-100: #36454f;
  --clr-neutral-200: #282c35;
  --clr-light: #ffff;
  --clr-primary: #caba28;
  --clr-secondary: hsl(54, 85%, 76%);
  --ff-primary: "Baloo Tamma 2", cursive;
}
body {
  font-family: var(--ff-primary);
  line-height: 1.8;
  display: flex;
  width: 100vw;
  height: 100vh;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-light);
}
/* -------------------Main Styling-------*/

/* ---side nav-- */
#aside-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.aside--nav__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-neutral-200);
  align-items: center;
}
.aside--nav__content__logo {
  width: calc(3vw + 3vh);
  height: calc(3vw + 3vh);
  object-fit: cover;
}
.aside-nav__content__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(0.3em + 0.4vw);
  justify-content: flex-end;
}
.aside--nav__content__nav--social {
  list-style: none;
}

.aside--nav__content__nav--social a i {
  font-size: calc(1rem + 0.666vw);
  color: var(--clr-light);
  margin: calc(2rem + 0.666vw) calc(1rem + 0.666vw);
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.aside--nav__content__nav--social a i:hover,
.aside--nav__content__nav--social a i:focus-within,
.aside--nav__content__nav--social a i:active {
  color: var(--clr-primary);
}
/* Main content */
main {
  flex: 1;
}
/* ---Primary Nav ---*/
header#header {
  background-color: var(--clr-neutral-200);
  width: 100%;
}
#header__primary-nav {
  height: calc(3vw + 3vh);
  width: 100%;
}
.header__primary-nav-links {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header__primary-nav-links .header__primary-nav-links--link-item {
  padding-right: 3vw;
}
.header__primary-nav--nav-link {
  font-size: calc(1rem + 0.6667vw);
  text-transform: uppercase;
  position: relative;
  padding: 0.2rem 0.6rem;
}
.header__primary-nav--nav-link:link::before,
.header__primary-nav--nav-link:visited::before,
.header__primary-nav--nav-link:link::after,
.header__primary-nav--nav-link:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--clr-primary);
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}
.header__primary-nav--nav-link:link::before,
.header__primary-nav--nav-link:visited::before {
  top: 0;
  transform-origin: right;
}
.header__primary-nav--nav-link:link::after,
.header__primary-nav--nav-link:visited::after {
  bottom: 0;
  transform-origin: left;
}
.header__primary-nav--nav-link:hover::before,
.header__primary-nav--nav-link:active::before,
.header__primary-nav--nav-link:hover::after,
.header__primary-nav--nav-link:active::after {
  transform: scaleX(1);
}
/* max width (610px) */
@media screen and (max-width: 610px) {
  /* #header__primary-nav {
    position: absolute;
  } */
  /* header#header {
    position: absolute;
  } */
  .primary-nav-container{
    position: relative;
  }
  #header__primary-nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    background-color: var(--clr-secondary);
    top: 2rem;
    right: 0;
    /* transform: scale(0); */
    text-align: center;
  }
  .main__nav--position {
   transform: scale(1);
  }
  .header__primary-nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__primary-nav-links::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 50%;
    opacity: 0.8;
    z-index: -1;
    border-radius: 10px 5% / 20px 25em 30px 35em;

    background-color: var(--clr-neutral-100);
    box-shadow: 0 0 0.3rem 0.1rem var(--clr-primary);
    left: 2rem;
  }

  .header__primary-nav-links :where(.header__primary-nav-links--link-item) {
    margin-bottom: 4vh;
    margin-left: 6vw;
    opacity: 0;
  }

  .header__primary-nav--hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    background-color: var(--clr-secondary);
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 100%;
    height: 0.3rem;
    background-color: var(--clr-light);
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }
  .main__nav--position .line-1 {
    transform: rotateZ(-405deg) translate(-1.25rem);
  }
  .main__nav--position .line-2 {
    opacity: 0;
  }
  .main__nav--position .line-3 {
    transform: rotateZ(45deg) translate(-1.5rem);
  }
  .fade{
    opacity: 1;
  }
}
